###**Import Libraries**

In [1]:
import pandas as pd
from sklearn import preprocessing # Label Encoding
from sklearn.linear_model import LogisticRegression # ML Model

### **Import Datasets**

In [2]:
data = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')
test_id = test["PassengerId"]

data.head(5)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

### **Data Cleaning**

In [3]:
def clean(data):
    data = data.drop(["Ticket","Cabin","Name","PassengerId"], axis=1)

    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].mean(), inplace=True)

    data.Embarked.fillna("U", inplace=True)
    return data

   

data = clean(data)
test = clean(test)

data.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [4]:
# Label Encoding
le = preprocessing.LabelEncoder()

columns = ["Sex", "Embarked"]

for col in columns:
      data[col] = le.fit_transform(data[col])
      test[col] = le.transform(test[col])
      print(le.classes_)

data.head(5)

['female' 'male']
['C' 'Q' 'S' 'U']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

### **Model Training**

In [5]:
X_train = data.drop(['Survived'], axis=1 )
Y_train = data['Survived']

In [6]:
lr = LogisticRegression(random_state = 0)
lr.fit(X_train, Y_train)

predicted = lr.predict(test)

r2_score = lr.score(X_train,Y_train)
print(r2_score*100,'%')

80.02244668911335 %

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [7]:
test.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  34.5      0      0   7.8292         1
1       3    0  47.0      1      0   7.0000         2
2       2    1  62.0      0      0   9.6875         1
3       3    1  27.0      0      0   8.6625         2
4       3    0  22.0      1      1  12.2875         2

In [8]:
df = pd.DataFrame({"PassengerId":test_id.values,
                   "Survived": predicted})
df.to_csv("titanic.csv", index=False)
df.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1